In [1]:
import pandas as pd

In [2]:
train = pd.read_csv(r'dataset/train.csv')
test = pd.read_csv(r'dataset/test.csv')
sample = pd.read_csv(r'dataset/sample_submission.csv')

In [3]:
train

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,fffe4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,...,300.630000,53005.25,17.0,781.750000,Yes,Yes,No,Not Applicable,Products always in Stock,2
1,fffe43004900440032003100300035003700,Traci Peery,32,F,5K0N3X1,City,Premium Membership,2017-08-28,?,CID21329,...,306.340000,12838.38,10.0,NaN,Yes,No,Yes,Solved,Quality Customer Care,1
2,fffe4300490044003100390032003600,Merideth Mcmeen,44,F,1F2TCL3,Town,No Membership,2016-11-11,Yes,CID12313,...,516.160000,21027.00,22.0,500.690000,No,Yes,Yes,Solved in Follow-up,Poor Website,5
3,fffe43004900440036003000330031003600,Eufemia Cardwell,37,M,VJGJ33N,City,No Membership,2016-10-29,Yes,CID3793,...,53.270000,25239.56,6.0,567.660000,No,Yes,Yes,Unsolved,Poor Website,5
4,fffe43004900440031003900350030003600,Meghan Kosak,31,F,SVZXCWB,City,No Membership,2017-09-12,No,xxxxxxxx,...,113.130000,24483.66,16.0,663.060000,No,Yes,Yes,Solved,Poor Website,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36987,fffe43004900440035003500390036003100,Cuc Tarr,46,F,6F51HFO,NaN,Basic Membership,2017-09-21,No,xxxxxxxx,...,-650.682759,27277.68,6.0,639.510000,No,Yes,Yes,No Information Available,No reason specified,4
36988,fffe43004900440033003500380036003600,Jenni Stronach,29,F,21KSM8Y,Town,Basic Membership,2016-06-27,No,xxxxxxxx,...,-638.123421,11069.71,28.0,527.990000,Yes,No,No,Not Applicable,Poor Customer Service,5
36989,fffe4300490044003500330034003100,Luciana Kinch,23,F,XK1IM9H,NaN,Basic Membership,2016-09-11,Yes,CID3838,...,154.940000,38127.56,Error,680.470000,No,Yes,Yes,Unsolved,Poor Website,4
36990,fffe43004900440031003200390039003000,Tawana Ardoin,53,M,K6VTP1Z,Village,Platinum Membership,2017-06-15,No,xxxxxxxx,...,482.610000,2378.86,20.0,197.264414,Yes,Yes,No,Not Applicable,No reason specified,3
36991,fffe43004900440033003600340034003200,Verlene Beaulieu,35,M,LBX0GLR,Town,Silver Membership,2015-10-23,No,xxxxxxxx,...,79.180000,2189.68,Error,719.970000,Yes,No,No,Not Applicable,Quality Customer Care,2

In [4]:
test

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback
0,fffe43004900440031003700300030003400,Alethia Meints,50,F,OQJ1XAY,Village,Premium Membership,2015-11-02,No,xxxxxxxx,...,12,386.26,40721.44,7.0,733.830000,Yes,No,No,Not Applicable,Poor Product Quality
1,fffe43004900440031003900370037003300,Ming Lopez,41,M,OUQRPKO,Village,Gold Membership,2016-03-01,No,xxxxxxxx,...,11,37.80,9644.40,9.0,726.000000,Yes,No,No,Not Applicable,Poor Website
2,fffe43004900440034003800360037003000,Carina Flannigan,31,F,02J2RE7,Town,Silver Membership,2017-03-03,No,xxxxxxxx,...,18,215.36,3693.25,21.0,713.780000,Yes,No,Yes,Solved in Follow-up,No reason specified
3,fffe43004900440036003200370033003400,Kyung Wanner,64,M,5YEQIF1,Town,Silver Membership,2017-08-18,Yes,CID8941,...,-999,44.57,36809.56,11.0,744.970000,Yes,No,Yes,No Information Available,Too many ads
4,fffe43004900440035003000370031003900,Enola Gatto,16,F,100RYB5,Town,No Membership,2015-05-05,Yes,CID5690,...,6,349.88,40675.86,8.0,299.048351,No,Yes,Yes,Solved in Follow-up,Poor Website
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19914,fffe43004900440035003600330037003800,Kraig Peele,12,M,2V0HA0O,NaN,Gold Membership,2015-01-25,No,xxxxxxxx,...,16,103.57,46279.35,18.0,708.120000,No,Yes,No,Not Applicable,Poor Product Quality
19915,fffe43004900440032003900370037003100,Damaris Sabol,40,F,VJGQD6Q,Village,No Membership,2017-12-31,Yes,CID45490,...,21,63.19,23466.26,Error,574.340000,No,Yes,No,Not Applicable,No reason specified
19916,fffe43004900440036003100310036003700,Loura Huckstep,55,M,ADE7LWA,Town,No Membership,2015-09-09,No,xxxxxxxx,...,18,68.72,17903.75,24.0,564.300000,No,Yes,Yes,Unsolved,No reason specified
19917,fffe43004900440034003200330033003600,Sharita Clubb,17,F,A35KUBS,City,Silver Membership,2016-04-17,Yes,CID37167,...,3,119.54,14057.09,22.0,606.340000,No,Yes,No,Not Applicable,Poor Website
19918,fffe43004900440036003200340030003100,Ying Branum,20,M,IPJKJJV,Town,Premium Membership,2017-10-30,Yes,CID56352,...,8,505.26,36786.44,Error,1193.689813,No,Yes,Yes,Unsolved,Too many ads

In [5]:
sample

                            customer_id  churn_risk_score
0      fffe4300490044003600300030003800                 2
1  fffe43004900440032003100300035003700                 1
2      fffe4300490044003100390032003600                 5
3  fffe43004900440036003000330031003600                 5
4  fffe43004900440031003900350030003600                 5

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36992 entries, 0 to 36991
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   customer_id                   36992 non-null  object
 1   Name                          36992 non-null  object
 2   age                           36992 non-null  int64
 3   gender                        36992 non-null  object
 4   security_no                   36992 non-null  object
 5   region_category               31564 non-null  object
 6   membership_category           36992 non-null  object
 7   joining_date                  36992 non-null  object
 8   joined_through_referral       36992 non-null  object
 9   referral_id                   36992 non-null  object
 10  preferred_offer_types         36704 non-null  object
 11  medium_of_operation           36992 non-null  object
 12  internet_option               36992 non-null  object
 13  last_visit_time               36992 non-null  object
 14  days_since_last_login         36992 non-null  int64
 15  avg_time_spent                36992 non-null  float64
 16  avg_transaction_value         36992 non-null  float64
 17  avg_frequency_login_days      36992 non-null  object
 18  points_in_wallet              33549 non-null  float64
 19  used_special_discount         36992 non-null  object
 20  offer_application_preference  36992 non-null  object
 21  past_complaint                36992 non-null  object
 22  complaint_status              36992 non-null  object
 23  feedback                      36992 non-null  object
 24  churn_risk_score              36992 non-null  int64
dtypes: float64(3), int64(3), object(19)
memory usage: 7.1+ MB

In [7]:
train.isna().sum()

customer_id                        0
Name                               0
age                                0
gender                             0
security_no                        0
region_category                 5428
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types            288
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                3443
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
churn_risk_score                   0
dtype: int64

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19919 entries, 0 to 19918
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   customer_id                   19919 non-null  object
 1   Name                          19919 non-null  object
 2   age                           19919 non-null  int64
 3   gender                        19919 non-null  object
 4   security_no                   19919 non-null  object
 5   region_category               16971 non-null  object
 6   membership_category           19919 non-null  object
 7   joining_date                  19919 non-null  object
 8   joined_through_referral       19919 non-null  object
 9   referral_id                   19919 non-null  object
 10  preferred_offer_types         19760 non-null  object
 11  medium_of_operation           19919 non-null  object
 12  internet_option               19919 non-null  object
 13  last_visit_time               19919 non-null  object
 14  days_since_last_login         19919 non-null  int64
 15  avg_time_spent                19919 non-null  float64
 16  avg_transaction_value         19919 non-null  float64
 17  avg_frequency_login_days      19919 non-null  object
 18  points_in_wallet              17956 non-null  float64
 19  used_special_discount         19919 non-null  object
 20  offer_application_preference  19919 non-null  object
 21  past_complaint                19919 non-null  object
 22  complaint_status              19919 non-null  object
 23  feedback                      19919 non-null  object
dtypes: float64(3), int64(2), object(19)
memory usage: 3.6+ MB

In [9]:
test.isna().sum()

customer_id                        0
Name                               0
age                                0
gender                             0
security_no                        0
region_category                 2948
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types            159
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                1963
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
dtype: int64

In [10]:
train.nunique()

customer_id                     36992
Name                            36992
age                                55
gender                              3
security_no                     36992
region_category                     3
membership_category                 6
joining_date                     1096
joined_through_referral             3
referral_id                     11359
preferred_offer_types               3
medium_of_operation                 4
internet_option                     3
last_visit_time                 30101
days_since_last_login              27
avg_time_spent                  25961
avg_transaction_value           36894
avg_frequency_login_days         1654
points_in_wallet                23699
used_special_discount               2
offer_application_preference        2
past_complaint                      2
complaint_status                    5
feedback                            9
churn_risk_score                    6
dtype: int64

In [11]:
test_low = test.nunique() < 10

In [12]:
type(train.nunique())

pandas.core.series.Series

In [13]:
train.describe()

,age,days_since_last_login,avg_time_spent,avg_transaction_value,points_in_wallet,churn_risk_score
count,36992.000000,36992.000000,36992.000000,36992.000000,33549.000000,36992.000000
mean,37.118161,-41.915576,243.472334,29271.194003,686.882199,3.463397
std,15.867412,228.819900,398.289149,19444.806226,194.063624,1.409661
min,10.000000,-999.000000,-2814.109110,800.460000,-760.661236,-1.000000
25%,23.000000,8.000000,60.102500,14177.540000,616.150000,3.000000
50%,37.000000,12.000000,161.765000,27554.485000,697.620000,4.000000
75%,51.000000,16.000000,356.515000,40855.110000,763.950000,5.000000
max,64.000000,26.000000,3235.578521,99914.050000,2069.069761,5.000000

In [14]:
test.describe()

,age,days_since_last_login,avg_time_spent,avg_transaction_value,points_in_wallet
count,19919.000000,19919.000000,19919.000000,19919.000000,17956.000000
mean,36.884432,-39.216527,244.134926,29318.122196,685.968794
std,15.917311,223.274420,403.910806,19507.775429,192.152979
min,10.000000,-999.000000,-2180.780796,803.710000,-465.289977
25%,23.000000,8.000000,59.360000,14236.200000,615.730000
50%,37.000000,12.000000,161.240000,27564.050000,698.110000
75%,51.000000,16.000000,354.195000,40969.400000,764.732500
max,64.000000,26.000000,3350.060000,99995.030000,2019.671602

In [15]:
low_car = [x for x in train.columns if train[x].nunique() < 10 and train[x].dtypes == 'O']

In [16]:
train['feedback'].nunique()
train['churn_risk_score'].dtypes

dtype('int64')

In [17]:
low_car

['gender',
 'region_category',
 'membership_category',
 'joined_through_referral',
 'preferred_offer_types',
 'medium_of_operation',
 'internet_option',
 'used_special_discount',
 'offer_application_preference',
 'past_complaint',
 'complaint_status',
 'feedback']

In [18]:
for x in low_car:
    print(x, train[x].unique())

gender ['F' 'M' 'Unknown']
region_category ['Village' 'City' 'Town' nan]
membership_category ['Platinum Membership' 'Premium Membership' 'No Membership'
 'Gold Membership' 'Silver Membership' 'Basic Membership']
joined_through_referral ['No' '?' 'Yes']
preferred_offer_types ['Gift Vouchers/Coupons' 'Credit/Debit Card Offers' 'Without Offers' nan]
medium_of_operation ['?' 'Desktop' 'Smartphone' 'Both']
internet_option ['Wi-Fi' 'Mobile_Data' 'Fiber_Optic']
used_special_discount ['Yes' 'No']
offer_application_preference ['Yes' 'No']
past_complaint ['No' 'Yes']
complaint_status ['Not Applicable' 'Solved' 'Solved in Follow-up' 'Unsolved'
 'No Information Available']
feedback ['Products always in Stock' 'Quality Customer Care' 'Poor Website'
 'No reason specified' 'Poor Product Quality' 'Poor Customer Service'
 'Too many ads' 'User Friendly Website' 'Reasonable Price']

In [19]:
train.referral_id.value_counts()

xxxxxxxx    17846
CID43705       12
CID3979        11
CID49601       10
CID40797        9
            ...
CID5883         1
CID53686        1
CID51445        1
CID34660        1
CID16797        1
Name: referral_id, Length: 11359, dtype: int64

## Effort 2 analisis

In [20]:
train_data = train[train['churn_risk_score'] > 0]

In [21]:
train_y = train_data.churn_risk_score.copy()
train_x = train_data.drop('churn_risk_score', axis=1).copy()

In [22]:
drop_list = ['customer_id', 'Name', 'referral_id']

for x in drop_list:
    train_x.drop(x, axis=1, inplace=True)
    test.drop(x, axis=1, inplace=True)

In [23]:
train_x.nunique()

age                                55
gender                              3
security_no                     35829
region_category                     3
membership_category                 6
joining_date                     1096
joined_through_referral             3
preferred_offer_types               3
medium_of_operation                 4
internet_option                     3
last_visit_time                 29329
days_since_last_login              27
avg_time_spent                  25299
avg_transaction_value           35741
avg_frequency_login_days         1587
points_in_wallet                23161
used_special_discount               2
offer_application_preference        2
past_complaint                      2
complaint_status                    5
feedback                            9
dtype: int64

In [24]:
train_x.isna().sum()

age                                0
gender                             0
security_no                        0
region_category                 5263
membership_category                0
joining_date                       0
joined_through_referral            0
preferred_offer_types            276
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                3341
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
dtype: int64